# Python virtual environment
.venv/
venv/

# Environment variables (VERY IMPORTANT)
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# VS Code settings (optional)
.vscode/

# Mac system files
.DS_Store